#review-box-each {
    width: 49%;
    height: 150px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 1px;
}

#review-box-each > div {
    margin-left: 20px;
}

#review-box-each > span {
    display: block;
    text-align: right;
    margin-right: 15px;
    font-size: 0.8em;
    color: gray;
}