.header-box {
    width : 70%;
    margin: 30px auto;
    display: flex;
    min-width: 400px;
}

.header-box .btn-group-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-box .btn-group-box .btn-box {
    display: flex;
    flex-direction: column;
}

.header-box .btn-group-box .btn-box .btn-text {
    font-size: 0.3em; 
    text-align: center;  
}

.btn-img {
    width: 50px;
}

#hidden-btn {
    width: 50px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    #logo {
        display: none;
    }

    .btn-img {
        display: none;
    }

    .btn-text {
        display: none;
    }
}

@media (min-width: 768px) {
    #hidden-btn {
        display: none;
    }
}
