.header-box {
    width : 70%;
    margin: 30px auto;
    display: flex;
    min-width: 400px;
}

.header-box .btn-group-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-box .btn-group-box .btn-box {
    display: flex;
    flex-direction: column;
}

.header-box .btn-group-box .btn-box .btn-text {
    font-size: 0.3em; 
    text-align: center;  
}

.btn-img {
    width: 50px;
}

#hidden-btn {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#total-box {
    background-color: rgba(212, 212, 212, 0.973);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    border-radius: 2px;
}

.row {
    display: flex;
    margin: 10%;
    margin-right: 65px;
}

.row .h-btn-box {
    background-color: #fff;
    text-align: center;
    width: 50%;
}

#total-box > button {
    position: absolute;
    top: 30px;
    right: 25px;
    background-color: black;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.h-btn-img {
    width: 80px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #logo {
        display: none;
    }

    .btn-img {
        display: none;
    }

    .btn-text {
        display: none;
    }
}

@media (min-width: 768px) {
    #hidden-btn {
        display: none;
    }
}
