.movie-container {
    width: 70%;
    margin: 0 auto;
}

.movie-container #movie-big-box {
    /* background-color: #ffd4dd; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    min-width: 650px;
}

#select-box {
    margin: 10px;
    border: 1px solid #e2dcdd;
    padding: 4px;
}
