.movieANDtime {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 70px auto;
}

.movie {
    display: flex;
    flex-direction: column;
    background-color: #D7AC87;
    width: 49%;
    margin: 0 auto;
}

.time {
    display: flex;
    flex-direction: column;
    background-color: #D7AC87;
    width: 49%;
    margin: 0 auto;

}

.boxHeader {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 2rem;
}

.items {
    height: 500px;
    padding: 20px;
}

.movieLink {
    text-decoration-line: none;
}

.Amovie {
    color: white;
    background-color: #464646;
    padding: 5px;
    font-size: 1.5rem;
}

.Bmovie {
    color: black;
    padding: 5px;
    font-size: 1.5rem;
}

.movieAtimes{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 1.5rem;
}

.movieAtimesBox{
    width: 50%;
}

.timetable, .movieinfo{
    display: flex;
    justify-content: space-between;
}

#twoD{
    color: red;
    font-weight: bold;
}

#locate{
    font-weight: bold;
}

#totalSeat{
    color: gray;
}

.timetext{
    border: 1px solid lightgrey;
    text-align: center;
    margin-right: 8px;
}

.selectedtext{
    border: 1px solid lightgrey;
    text-align: center;
    margin-right: 8px;
    color: white;
    background-color: black;
}

.seattext{
    color: #4AB34A;
}

.bottomBigBox {
    width: 100%;
    height: 250px;
    margin-bottom: 70px;
    background-color: black;
}

.bottomBox {
    width: 70%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottomleft {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: row;
}

.poster {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.posterinfo {
    width: 60%;
}

.bottominfo{
    width: 30%;
}

.bottomright{
    width: 30%;
}

.step{
    width: 30%;
    height: 100%;
}

.steptext {
    font-size: 1.8rem;
    color: #F8F8FF;
    font-weight: bold;
    opacity: 0.8;
    height: 100%;
    line-height: 100%;
}

.btn{
    color: white;
    background-color: silver;
}

.active_btn{
    color: white;
    background-color: red;
}

.rightbtn{
    width: 50%;
    height: 50%;
    text-align: center;
    text-decoration-line: none;
}

.postersize {
    width: 30%;
}